{{ define "handlers" -}}
/*
{{ template "noedit" . -}}
*/

package main

import (
  "fmt"
  "net/http"
)

func (s *Server) RegisterDefaultHandlers() {
{{- range .Tables }}
  s.addList{{ .CodeName }}()
{{- end }}
  fmt.Println()
}

{{ range .Tables }}
// GET handler for {{ .DisplayName }} list
func (s *Server) addList{{ .CodeName }}() {
  fmt.Println(fmt.Sprintf("GET    %s/{{ .SlugNamePlural }}", s.urlPrefix))
  s.router.HandleFunc("/{{ .SlugNamePlural }}", func(w http.ResponseWriter, r *http.Request) {
    data, err := s.{{ .CodeName }}Repo.List()
		s.SendJSONor500(w, 200, data, err)
  }).Methods("GET")
}
{{ end }}

{{ end -}}
