{{ define "server" -}}
/*
{{ template "noedit" . -}}
*/

package main

import (
	"database/sql"
	"encoding/json"
	"errors"
	"fmt"
	"net/http"
	"os"
	"path"
	"strconv"
	"strings"

	"github.com/gorilla/handlers"
	"github.com/gorilla/mux"

  "{{ ModuleName }}/{{ RepoName }}"
  "{{ ModuleName }}/{{ RepoName }}/connection"
)

const ConnectionStringEnv = "{{ ConnectionStringEnvArg }}"

// Server provides the API.
type Server struct {
	Connection  *connection.Connection
{{- range .Tables }}
  {{ .CodeName }}Repo  *{{ RepoName }}.{{ .CodeName }}Repo  // {{ .DisplayName }} repository
{{- end }}

	urlPrefix   string
	port        int
	db          *sql.DB
	router      *mux.Router
	middlewares []func(http.Handler) http.Handler // Global
}

// NewServer returns an instantiated Server ready to use.
func NewServer(
	urlPrefix string,
	port int,
) Server {
	s := Server{}
	s.urlPrefix = "/" + path.Clean(strings.TrimPrefix(urlPrefix, "/"))
	s.port = port
	s.router = mux.NewRouter().PathPrefix(s.urlPrefix).Subrouter()
	s.middlewares = []func(http.Handler) http.Handler{}
	connectionString, hasEnv := os.LookupEnv(ConnectionStringEnv)
	if hasEnv == false {
		check(errors.New(fmt.Sprintf("Environment variable `%s` not found", ConnectionStringEnv)))
	}
  s.Connection = connection.NewConnection(connectionString)
{{- range .Tables }}
  s.{{ .CodeName }}Repo = {{ RepoName }}.New{{ .CodeName }}Repo(s.Connection)
{{- end }}
	return s
}

// AddGlobalMiddleware registers global middleware, applicable to all routes.
// MiddlewareFunc is from Gorilla mux (which also has many pre-built middlewares).
func (s *Server) AddGlobalMiddleware(fn mux.MiddlewareFunc) {
	s.middlewares = append(s.middlewares, fn)
}

// ListenAndServe starts the API (and only returns when it dies).
func (s *Server) ListenAndServe() error {
	port := ":" + strconv.Itoa(s.port)
	fmt.Println(fmt.Sprintf("Server running at http://localhost:%v", s.port))
	fmt.Println()
	for _, m := range s.middlewares {
		s.router.Use(m)
	}
	return http.ListenAndServe(port, handlers.RecoveryHandler()(s.router))
}

// SendJSONor500 issues data as a JSON response or a 500 if there is an error.
func (s *Server) SendJSONor500(w http.ResponseWriter, statusCode int, data interface{}, err error) {
	if err != nil {
		s.Send500(w, err.Error())
	} else {
		s.SendJSON(w, statusCode, data)
	}
}

// SendJSON issues data as a JSON response.
func (s *Server) SendJSON(w http.ResponseWriter, statusCode int, data interface{}) {
	res, _ := json.Marshal(data)
	w.Header().Add("Content-Type", "application/json; charset=utf-8")
	w.WriteHeader(statusCode)
	w.Write(res)
}

// Send500 issues a 500 (server error) response with a message.
func (s *Server) Send500(w http.ResponseWriter, message string) {
	w.Header().Add("Content-Type", "text/plain; charset=utf-8")
	w.WriteHeader(500)
	w.Write([]byte(message))
}
{{ end -}}
